<div class="login-page">
  <div class="form">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
      <input class="form-input" formControlName="name" type="text" placeholder="name"/>
      <validator-component [control]="registerForm.controls.name"></validator-component>
      <input class="form-input" formControlName="password" type="password" placeholder="password"/>
      <validator-component [control]="registerForm.controls.password"></validator-component>
      <input class="form-input" formControlName="email" type="text" placeholder="email address"/>
      <validator-component [control]="registerForm.controls.email"></validator-component>
      <input class="form-input" formControlName="phone" type="text" placeholder="phone"/>
      <validator-component [control]="registerForm.controls.phone"></validator-component>
      <button class="form-button">create</button>
      <p class="message">Already registered? <a routerLink="../login">Sign In</a></p>
    </form>
    <div *ngIf=showError>
      <p>
        Some error from server
      </p>
    </div>
</div>