<div class="login-page">
  <div class="form">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <input formControlName="phone" type="text" placeholder="phone"/>
      <validator-component [control]="loginForm.controls.phone"></validator-component>
      <input formControlName="password" type="password" placeholder="password"/>
      <validator-component [control]="loginForm.controls.password"></validator-component>
      <button>login</button>
      <p class="message">Not registered? <a routerLink="../register">Create an account</a></p>
    </form>
    <div *ngIf=showError>
      <p>
        Some error from server
      </p>
    </div>
  </div>
</div>