<div class="product-page">
  <div class="form">
    <form class="product-form" [formGroup]="productForm" (ngSubmit)="createProduct()">
      <input class="form-input" formControlName="title" type="text" placeholder="Title"/>
      <validator-component [control]="productForm.controls.title"></validator-component>
      <input class="form-input" formControlName="description" type="text" placeholder="Description"/>
      <validator-component [control]="productForm.controls.description"></validator-component>
      <input class="form-input" formControlName="price" type="text" placeholder="Price"/>
      <validator-component [control]="productForm.controls.price"></validator-component>
      <input class="form-input" formControlName="file" type="file" placeholder="file"/>
      <button class="form-button">next</button>
    </form>
    <!-- <div *ngIf=showError>
      <p>
        Some error from server
      </p>
    </div> -->
  </div>
</div>